/* Eksell Display TRIAL */
@import url('https://fonts.cdnfonts.com/css/eksell-display-trial');

:root {
    --color: #002248;
    --btnBg: #3685FB;
}

button {
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 90px;
}

header nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.sidenav-list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.sidenav-item {
    list-style: none;
    font-size: 18px;
}

.sidenav-item:hover {
    color: var(--btnBg);
    cursor: pointer;
    transition: color .2s ease-out;
}

.header-btn {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: var(--btnBg);
    color: white;
    font-size: 17px;
}

/* HERO-STYLES */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.hero-info {
    width: 48%;
}

.her-info__name {
    color: #00B3A0;
    font-size: 20px;
}

.hero-info__title {
    font-size: 60px;
    font-family: Eksell Display TRIAL;
    color: var(--color);
    margin: 10px 0;
    line-height: 70px;
}

.hero-info__subtitle {
    font-size: 18px;
    color: #697687;
    line-height: 28px;
    letter-spacing: 1px;
    margin: 10px 0 20px 0;
}

.hero-btn {
    width: 150px;
    height: 45px;
    font-size: 18px;
    border: none;
    background: var(--btnBg);
    color: white;
    border-radius: 10px;
}

/* STATISTICS-STYLES */
.statistics .container {
    width: 66vw;
    margin: 30px auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px 10px #f8f8f8;
    position: relative;
}

.statistics-item {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* PERFECTION-STYLES */
.perfection-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.perfection {
    margin: 50px 0;
}

.perfection-name {
    font-size: 17px;
    color: #00B3A0;
}

.perfection-title {
    font-size: 45px;
    color: var(--color);
    font-family: Eksell Display TRIAL;
}

.perfection-subtitle {
    font-size: 17px;
    width: 50%;
    text-align: center;
    color: #697687;
}

.perfection-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 20px 0;
}

.perfection-card {
    padding: 70px 30px;
    display: flex;
    gap: 30px;
    border-radius: 10px;
    flex-direction: column;
    list-style: none;
    text-align: center;
    border: 1px solid #b5b5b5;
}

.perfection-card img {
    margin: 0 auto;
}

.perfection-card__title {
    color: var(--color);
}

/* LOCATION-STYLES */
.location {
    background: #f8f8f8;
    padding: 70px 0;
}

.location-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.location-subtitle {
    display: flex;
    justify-content: space-between;
}

.location-subtitle p {
    width: 48%;
    font-size: 18px;
}

.location-name {
    color: #00B3A0;
    font-size: 18px;
}

.location-title {
    font-size: 43px;
    font-family: Eksell Display TRIAL;
}

.location-btn__grp {
    display: flex;
    gap: 10px;
}

.location-btn__grp button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

.location-list {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.location-list li {
    list-style: none;
    border-radius: 15px;
    display: flex;
    align-items: end;
    width: 370px;
    height: 500px;
    justify-content: center;
    padding: 30px;
}

.locaiton-card__info {
    background: rgba(0, 34, 72, 0.3);
    width: 100%;
    color: white;
    padding: 23px 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-rating h3 {
    font-family: Eksell Display TRIAL;
    font-size: 20px;
    line-height: 20px;
}

.card-rating {
    display: flex;
    justify-content: space-between;
}

.card-rating i {
    font-size: 15px;
}

.card-price {
    display: flex;
    justify-content: space-between;
}

.card-price span {
    font-size: 20px;
}

.card-price p {
    font-size: 18px;
}

/* DISCOVER-SECTION-STYLES */
.discover {
    background-image: url(imgs/discover.png);
    display: flex;
    justify-content: end;
    margin: 0 0 50px 0;
    background-size: cover;
    height: 690px;
}

.discover--info {
    background-image: url(imgs/white-map.png);
    background-size: cover;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 100px;
}

.discover-wrapper {
    width: 460px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.discover-name {
    color: #00B3A0;
}

.discover-title {
    font-size: 45px;
    font-family: Eksell Display TRIAL;
    color: #002248;
    letter-spacing: 1px;
}

.discover-subtitle {
    font-size: 17px;
}

.discover-btn {
    width: 150px;
    height: 45px;
    font-size: 18px;
    border: none;
    background: var(--btnBg);
    color: white;
    border-radius: 10px;
}

/* ABOUT-SECTION-STYLES */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-name {
    color: #00B3A0;
    font-size: 18px;
}

.about-title {
    font-size: 45px;
    font-family: Eksell Display TRIAL;
    color: #002248;
    letter-spacing: 2px;
}

.about-subtitle {
    width: 95%;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.about-statistics__item h1 {
    font-size: 40px;
    color: var(--btnBg);
}

.about-statistics__item {
    text-align: center;
    width: 170px;
    padding: 30px;
    border: 3px solid #f1f1f1;
    border-radius: 7px;
}

.about-statistic {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
}

/* TESTIMONIAL-SECTION-STYLES */
.testimonial {
    /* background: #f8f8f8; */
    padding: 50px 0;
}

.testimonial-info {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.testimonial-name {
    color: #00B3A0;
    font-size: 18px;
}

.testimonial-title {
    font-size: 42px;
    font-family: Eksell Display TRIAL;
    letter-spacing: 2px;
}

.testimonial-subtitle {
    font-size: 18px;
    width: 60%;
    margin: 0 auto;
}

/* SOCIALFEED-STYLES */
.socialfeed-img {
    background-image: url(imgs/socialfeed.jpg);
    width: 100%;
    height: 460px;
    background-size: cover;
    margin: 30px 0;
}

.socialfeed {
    margin: 50px 0;
}

.socialfeed .container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.socialfeed-name {
    color: #00B3A0;
    font-size: 18px;
}

.socialfeed-title {
    color: #002248;
    font-size: 45px;
    font-family: Eksell Display TRIAL;
    width: 80%;
    letter-spacing: 2px;
}

.socialfeed-btn {
    width: 150px;
    height: 45px;
    font-size: 18px;
    border: none;
    background: var(--btnBg);
    color: white;
    border-radius: 10px;
}

.contact {
    background: #f3f8ff;
    padding: 80px 70px 0 80px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.contact-name {
    color: #00B3A0;
    font-size: 18px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.contact-title {
    color: #002248;
    font-size: 50px;
    font-family: Eksell Dsiplay TRIAL;
    width: 80%;
}

.contact-btn {
    width: 150px;
    height: 45px;
    font-size: 18px;
    border: none;
    background: var(--btnBg);
    color: white;
    border-radius: 10px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 20px;
}

.footer-list i {
    font-size: 20px;
    margin: 0 10px;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 50%;
}

.footer-copy {
    color: #697687;
    text-align: center;
    margin: 20px 0;
}