/* Eksell Display TRIAL */
@import url('https://fonts.cdnfonts.com/css/eksell-display-trial');

:root {
    --color: #002248;
    --btnBg: #3685FB;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 90px;
}

header nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.sidenav-list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.sidenav-item {
    list-style: none;
    font-size: 18px;
}

.sidenav-item:hover {
    color: var(--btnBg);
    cursor: pointer;
    transition: color .2s ease-out;
}

.header-btn {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: var(--btnBg);
    color: white;
    font-size: 17px;
}

/* HERO-STYLES */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.hero-info {
    width: 48%;
}

.her-info__name {
    color: #00B3A0;
    font-size: 20px;
}

.hero-info__title {
    font-size: 60px;
    font-family: Eksell Display TRIAL;
    color: var(--color);
    margin: 10px 0;
    line-height: 70px;
}

.hero-info__subtitle {
    font-size: 18px;
    color: #697687;
    line-height: 28px;
    letter-spacing: 1px;
    margin: 10px 0 20px 0;
}
.hero-btn {
    width: 150px;
    height: 45px;
    font-size: 18px;
    border: none;
    background: var(--btnBg);
    color: white;
    border-radius: 10px;
}
/* STATISTICS-STYLES */
.statistics .container {
    width: 66vw;
    margin: 30px auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px 10px #f8f8f8;
    position: relative;
}
.statistics-item{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}   
